@charset "UTF-8";
@media(max-width:1920px){
    .container{width: 100%;}

}

/* 1620px */
@media(max-width:1620px){
    /* banner */
    .banner .scroll{right: 5%; width: 180px; height: 180px;font-size: 36px;}
    .banner .scroll i{font-size: 50px;}
    .banner span{font-size: 350px; letter-spacing: -10px;}
    .banner span em{top: -5%;}
    .banner span p{top: 65%;}
    .banner span p::before{font-size: 350px;}

    /* content */
    #content{height: 180vh;}
    .con_tit h2{margin-bottom: -40px; margin-top: 150px;}
    .content .back_img{width: 60vw;height: 70vw;}
}

@media(max-width:1440px){
    .container2{width: 100%;}
}

/* 1280px */
@media(max-width:1280px){
    /* banner */
    .banner .scroll{ right: 4%; width: 150px; height: 150px;font-size: 32px;}
    .banner .scroll i{font-size: 45px;}
    .banner span{font-size: 300px;}
    .banner span em{top: 7%;}
    .banner span p{top: 65%;}
    .banner span p::before{font-size: 300px;}

    /* content */
    #content{ position: relative;height: 150vh;}
    .con_tit em{font-size: 40px;}
    .content{
        position: absolute;top: 50%;left: 50%;
        transform: translate(-50%, -50%);
    }
    .content .back_img{
        margin: 0px auto;
    }
}

@media(max-width:960px){
    /* header */
    
    .header{padding: 0 15px;}
    .header .logo{width: 200px;}
    .header .nav{display: none;}
    .header .nav.show{display: block;}
    .header .nav.show ul{flex-direction: column; position: absolute;top: 80px;right: 0%;background-color: #293f3a; z-index: 100; transition: all 0.3s; }
    .header .nav.show ul li{min-width: 230px; padding-left: 20px; margin: 20px 0; }
    .header .nav.show ul li a{color: #eee6de; font-size: 30px;}
    .header .nav.show ul li a .word{justify-content: start;  height: 40px;}
    .header .nav ul li a:hover .word span{animation: none; color: #b77855;}
    .nav_mobile{display: block;}

    .header .nav.show + .nav_mobile span::before{width: 20px;}
    .header .nav.show + .nav_mobile span::after{width: 20px;}

    /* banner */
    .banner .scroll{ width: 130px; height: 130px; font-size: 20px;}
    .banner .scroll i{font-size: 26px;left: 42%;}
    .banner span{font-size: calc(90px + 18vmin);}
    .banner span em{top: 10%;}
    .banner span p{top: 63%;font-size: calc(90px + 18vmin);}
    .banner span p::before{font-size: calc(90px + 18vmin);}
    .banner .v_wrap .video > video{width: calc(40vmin + 10px);}

    /* content */
    #content{height: 100vmax;}
    .con_tit h2{margin-bottom: -20px; margin-top: 100px;}
    .con_tit em{font-size: 30px;}
    .content .back_img{width: 60vw;height: 70vw;}
    .content .back_img::after{width: 250px; height: 80px; font-size: 60px;line-height: 65px;}

}

/* 780px */
@media(max-width:780px){
    /* banner */
    .banner span em{top: 15%;}

    /* content */
    .con_tit h2{margin-bottom: -20px; margin-top: 80px;}
    .con_tit p{margin-bottom: 50px;}
    .con_tit em{font-size: 30px;}
    .content .back_img{width: 60vw;height: 70vw; margin: 40px auto;}
    .content .back_img::after{width: 250px; height: 80px; font-size: 60px;line-height: 65px;}
}

/* 680px */
@media(max-width:680px){
    /* content */
    .con_tit h2{margin-top: 60px; letter-spacing: 0;}
    .content .back_img{width: 60vw;height: 72vw; margin: 40px auto;}
    .content .back_img::after{width: 200px; height: 60px; font-size: 40px;line-height: 60px; border: 5px solid #293f3a;}
}

/* 600px */
@media(max-width:600px){
    /* banner */
    .banner span{font-size: calc(70px + 18vmin);}
    .banner span em{top: 20%;}
    .banner span p{top: 63%;font-size: calc(70px + 18vmin);}
    .banner span p::before{font-size: calc(70px + 18vmin);}
    .banner .scroll{ right: 5%; width: 110px; height: 110px;font-size: 20px;}

    /* content */
    .con_tit h2{margin-top: 60px; letter-spacing: 0;}
    .content .back_img{width: 70vw;height: 82vw; margin: 40px auto;}
    .content .back_img > img{width: 61vw;}
    .content .back_img::after{width: 200px; height: 60px; font-size: 40px;line-height: 60px; border: 5px solid #293f3a;}
}

/* 480px */
@media(max-width:480px){
    /* banner */
    .banner span{font-size: calc(50px + 18vmin);}
    .banner span em{top: 23%;color: rgba(255, 255, 255, 0);}
    
    .banner span p{top: 70%;font-size: calc(50px + 18vmin);}
    .banner span p::before{font-size: calc(50px + 18vmin);}

    /* content */
    .con_tit h2{margin-top: 60px; letter-spacing: 0;}
    .con_tit em{font-size: 24px;}
    .content .back_img{width: 73vw;height: 88vw; margin: 40px auto;}
    .content .back_img > img{width: 64vw;}
    .content .back_img::after{width: 200px; height: 60px; font-size: 40px;}
}

/* 380px */
@media(max-width:380px){
    /* banner */
    .banner .scroll{ right: 5%; width: 90px; height: 90px;font-size: 16px; padding-top: 15px;}
    .banner .scroll i{font-size: 22px;left: 42%;}

    /* content */
    .con_tit h2{margin-top: 60px; letter-spacing: 0;}
    .con_tit em{font-size: 24px;}
    .content .back_img{width: 73vw;height: 88vw; margin: 40px auto;}
    .content .back_img > img{width: 64vw;}
    .content .back_img::after{width: 140px; height: 45px; font-size: 30px;line-height: 45px;}
}